.switch-icon-theme {
    background-image: escape-svg($form-switch-bg-image)!important;
    &:focus {
      background-image: escape-svg($form-switch-focus-bg-image)!important;
    }
    &:checked {
      @if $enable-gradients {
        background-image: escape-svg($form-switch-icon-theme-checked), var(--bs-gradient)!important;
      } @else {
        background-image: escape-svg($form-switch-icon-theme-checked)!important;
      }
    }
  }
.switch-icon-check {
    background-image: escape-svg($form-switch-icon-check-bg)!important;
    &:focus {
      background-image: escape-svg($form-switch-icon-check-focus)!important;
    }
    &:checked {
      @if $enable-gradients {
        background-image: escape-svg($form-switch-icon-check-checked), var(--bs-gradient)!important;
      } @else {
        background-image: escape-svg($form-switch-icon-check-checked)!important;
      }
    }
  }