.mw-0 { min-width: 0%!important; }
.border-transparent { border-color: #fff0!important; }
.outline-none { outline: none!important; }
.object-fit-cover {object-fit: cover;}
.touch-action-none { touch-action: none; }
.z-n1 {z-index: -1!important;}
.z-0 {z-index: 0!important;}
.z-1 {z-index: 1!important;}
.z-2 {z-index: 2!important;}
.z-3 {z-index: 3!important;}
.z-4 {z-index: 4!important;}