// wuzz ui
// Bootstrap and its default variables
@import "./node_modules/bootstrap/scss/bootstrap";

// button real elevation
@each $color, $value in $theme-colors {
    .btn-reveal-#{$color}:active { box-shadow: 0 12px 24px -8px rgba( $value, .5 )!important; transform:translateY(-3px); }
}
@each $color, $value in $theme-colors {
    .btn-reveal-#{$color} { box-shadow:none; transition: all 0.15s ease; }
}
 
// elavation
@each $color, $value in $theme-colors {
    .elevation-#{$color} { box-shadow: 0 16px 24px -8px rgba( $value, .5 )!important; }
}

// button elevation
@each $color, $value in $theme-colors {
    .btn-elevation-#{$color}:active { box-shadow:none!important; transform:translateY(3px); }
}
@each $color, $value in $theme-colors {
    .btn-elevation-#{$color} { box-shadow: 0 12px 24px -8px rgba( $value, .5 )!important; transition: all 0.15s ease; }
}