.search-outline-sm { padding: 0 2.5rem 0 0.75rem!important; }
.search-outline { padding: 0.25rem 3rem 0.25rem 1rem; }
.search-outline-lg { padding: 0.25rem 3.5rem 0.25rem 1.25rem!important; }
.search-outline, .search-outline-lg, .search-outline-sm{
  background: transparent!important;
  border-width: 2px !important;
}