.btn-fab, .btn-fab-sm, .btn-fab-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.btn-fab {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 1.5rem;
}

.btn-fab-sm {
  width: 1.5rem;
  height: 1.5rem;
}
  
.btn-fab-lg {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
}
  
.btn-fab-effect {
  transition: border-radius 0.25s ease;
}
.btn-fab-effect:hover {
  border-radius: 0.4rem;
}
