.jiggle-hover:hover > i {
    animation-name: jiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
@keyframes jiggle
  {
    0% { transform: rotate(0deg) }
    5% { transform: rotate(45deg) }
    15% { transform: rotate(-40deg) }
    25% { transform: rotate(20deg) }
    35% { transform: rotate(-15deg) }
    45% { transform: rotate(10deg) }
    55% { transform: rotate(-5deg) }
    60% { transform: rotate(0deg) }
    100% { transform: rotate(0deg) }
 }

.search-expand {
  width: 10rem;
  transition: width ease 0.2s;
}
.search-expand:hover, .search-expand:focus-within {
  width: 16rem;
}