.transition-ease-all { transition: all 0.15s ease!important; }
.transition-ease-color { transition: color 0.15s ease!important; }
.transition-ease-bg { transition: background-color 0.15s ease!important; }
.transition-ease-transform { transition: transform 0.15s ease!important; }